.flamechart {
    --frame-height: 17px;

    position: relative;
    height: 172px;
    contain: strict;
}

.flamechart__canvas {
    position: absolute;
    left: 0;
    display: block;
    cursor: pointer;
}

.flamechart__root-label {
    position: absolute;
    top: 0;
    left: 3px;
    right: 3px;
    height: 16px;
    overflow: hidden;
    pointer-events: none;
    font-size: 10px;
    line-height: 14px;
    white-space: nowrap;
}
