.view-call-frame-source .view-source.regexp .view-source__source {
    word-break: break-word;
    white-space: normal;
}

.view-call-frame-source .view-source__prelude:empty {
    display: none;
}
.view-call-frame-source .view-source__prelude {
    padding: 2px 7px 4px;
    border-bottom: 1px solid var(--discovery-background-color);
    color: #aaa;
}
.view-call-frame-source .view-source__prelude .function-path::before {
    content: 'Top level';
}
.view-call-frame-source .view-source__prelude .function-path .view-list-item::before {
    content: '›';
    color: #888;
    padding: 0 .6ex;
}
.view-call-frame-source .view-source__prelude .function-path .view-list-item .target {
    display: inline;
    padding: 1px 5px 3px;
    border-radius: 3px;
    background-color: #68624685;
    color: #b6aa6a;
}
.view-call-frame-source .view-source__prelude .missed-data-badge {
    margin-left: 2ex;
    font-size: inherit;
    color: #ab9554;
    cursor: default;
}
.view-call-frame-source .view-source__prelude .missed-data-badge::after {
    content: '';
    display: inline-block;
    width: 13px;
    aspect-ratio: 1;
    mask: url('../../img/hint.svg') no-repeat center;
    mask-size: cover;
    background-color: #ceac48;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 4px;
    margin-right: -2px;
}
.view-call-frame-source .view-source__prelude .missed-data-badge:hover {
    background-color: #514d3e8f;
    box-shadow: 0 0 0 .5px rgb(171, 149, 84, 50%);
}

.view-call-frame-source__tooltip {
    padding: 0 1px 1px;
}
.view-call-frame-source__tooltip .view-badge:not(.call-frame-kind) {
    display: inline;
    padding-bottom: 3px;
}

.view-call-frame-source__deopt_tooltip {
    padding: 8px;
}
