.view-code-disassemble-with-source {
    contain: inline-size;
}

.view-code-disassemble-with-source__warning-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px 0 0;
    background-color: var(--discovery-background-color);
    font-size: 12px;
}
.view-code-disassemble-with-source .view-alert {
    padding: 2px 8px;
    border: none;
    border-radius: 0;
}

.view-code-disassemble-with-source__block-list__inlined-blocks {
    --block-color: #8cbae7;
    grid-column: span 2;
    padding-left: 1px;
    border-left: 4px solid color-mix(in srgb, var(--block-color), var(--discovery-background-color) 40%);
    background-color: var(--discovery-background-color);
}
.view-code-disassemble-with-source__block-list__inlined-blocks > .inlined-header {
    display: flex;
    align-items: center;
    gap: 1ex;
    margin-left: -1px;
    padding: 0 8px;
    font-size: 12px;
    background-color: color-mix(in srgb, var(--block-color), var(--discovery-background-color) 75%);
}
.view-code-disassemble-with-source__block-list__inlined-blocks > .inlined-header::before {
    content: 'Inlined';
    color: var(--block-color);
    font-size: 11px;
}
.view-code-disassemble-with-source__block-list__inlined-blocks > .inlined-header .view-badge {
    padding: 0 6px;
    margin: 2px 0;
    font-size: inherit;
}

.view-code-disassemble-with-source__block-list {
    display: grid;
    grid-template-columns: max-content 1fr;
    overflow-x: auto;
    gap: 0px 1ex;
    background-color: rgba(205, 205, 205, .1);
}
.view-code-disassemble-with-source__block-list > .view-list-item,
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point,
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point
    :is(.view-source, .view-source__content),
.view-code-disassemble-with-source__block-list > .view-list-item > .call-frame-code-instructions,
.view-code-disassemble-with-source__block-list > .view-list-item > .call-frame-code-instructions .view-source__content {
    display: contents;
}
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point
    :is(.view-source__prelude, .view-source__postlude, .view-source__action-buttons),
.view-code-disassemble-with-source__block-list > .view-list-item > .call-frame-code-instructions
    :is(.view-source__prelude, .view-source__postlude, .view-source__action-buttons){
    display: none;
}
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point .view-source__lines {
    grid-row: span 2;
    left: 0;
    padding: 0;
    margin: 0;
    min-width: 4ex;
    background-color: color-mix(in srgb, var(--discovery-background-color), #0006 50%);
    border-top: 1px solid var(--discovery-background-color);
}
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point .view-source__lines span {
    padding: 3px 1ex;
    background-color: color-mix(in srgb, var(--discovery-background-color), rgba(205, 205, 205) 10%);
}
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point .view-source__source {
    padding: 3px 0;
    padding-left: 10ex;
    margin-left: -10ex;
    border-top: 1px solid var(--discovery-background-color);
    /* background-color: #0003; */
}
.view-code-disassemble-with-source__block-list > .view-list-item > .view-call-frame-source-point:has(+ .view-code-disassemble-with-source__block-list__inlined-blocks) .view-source__source {
    border-bottom: 1px solid var(--discovery-background-color);
}
.view-code-disassemble-with-source .call-frame-code-instructions .view-source__source {
    padding: 6px 0;
    padding-left: 10ex;
    margin-left: -10ex;
    background-color: #0000003b;
}
.view-code-disassemble-with-source__block-list > .more-buttons {
    grid-column: span 2;
    padding: 2px;
}

.view-code-disassemble-with-source .spotlight.label {
    background: none;
}
.view-code-disassemble-with-source .spotlight.pc,
.view-code-disassemble-with-source .spotlight.offset {
    color: var(--discovery-fmt-property-color);
    background: none;
}
.view-code-disassemble-with-source .spotlight.pc-common {
    color: color-mix(in srgb, currentColor, var(--discovery-background-color) 40%);
    background: none;
}
.view-code-disassemble-with-source .spotlight.offset {
    color: var(--discovery-fmt-keyword-color);
}
.view-code-disassemble-with-source .spotlight.ops {
    color: #777;
    background: none;
}
.view-code-disassemble-with-source .spotlight.prefix {
    color: #92a5d6;
    background: none;
}
.view-code-disassemble-with-source .spotlight.command {
    background: none;
}
.view-code-disassemble-with-source .spotlight.command.discovery-view-has-tooltip {
    cursor: help;
    text-decoration: underline;
    text-decoration-color: color-mix(in srgb, currentColor, var(--discovery-background-color) 60%);
}
.view-code-disassemble-with-source .spotlight.command.discovery-view-has-tooltip:hover {
    background-color: color-mix(in srgb, currentColor, var(--discovery-background-color) 80%);
    text-decoration-color: currentColor;
}
.view-code-disassemble-with-source .spotlight.param {
    background: none;
}
.view-code-disassemble-with-source .spotlight.hint {
    color: #e0af54;
    border-radius: 3px;
    background-color: var(--discovery-background-color);
}
.view-code-disassemble-with-source .spotlight.hint:has(.pc) {
    color: inherit;
}
.view-code-disassemble-with-source .spotlight.hint::before {
    content: 'hint:';
    padding-left: 3px;
    color: #888;
    font-size: 11px;
    font-family: var(--discovery-font-family);
}
.view-code-disassemble-with-source .spotlight.comment {
    color: #777;
    background: none;
}

.code-disassemble-tooltip {
    max-width: 480px !important;
}
.code-disassemble-tooltip .view-header {
    margin: 0 0 4px;
    white-space: nowrap;
}
.code-disassemble-tooltip .view-header .command-name {
    display: inline;
    color: light-dark(#668fb8, #8cbae7);
    padding-right: 1ex;
}
.code-disassemble-tooltip .view-header .param {
    display: inline;
    color: light-dark(#948634, #bdb06a);
}
.code-disassemble-tooltip .view-header .param::before {
    content: '<';
    opacity: .5;
}
.code-disassemble-tooltip .view-header .param::after {
    content: '>';
    opacity: .5;
}
.code-disassemble-tooltip .view-markdown {
    margin: 4px 0;
} 
