.page-call-frame .view-page-header__prelude .call-frame-loc {
    padding: 3px 6px;
    color: #aaa;
}
.page-call-frame .view-page-header__content .view-source {
    margin: 8px 0 1px;
}
.page-call-frame .view-page-header__content .view-source__content {
    padding-top: 11px;
    padding-bottom: 12px;
}
.page-call-frame .view-page-header__content .view-source__source {
    font-size: 16px;    
}
.page-call-frame .view-page-header__content .view-source.too-long .view-source__source {
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-call-frame .script-source .view-source.regexp .view-source__source {
    word-break: break-word;
    white-space: normal;
}
.page-call-frame .view-source .view-source__source .inline {
    font-size: 75%;
    font-family: tahoma;
    vertical-align: top;
    border: 1px solid #adbead;
    border-radius: 5px;
    color: #a2c7a2;
    background-color: black;
    margin: 0 1px;
    padding: 1px 2px;
}
.page-call-frame .view-source .view-source__source .inline::before {
    content: 'inl';
}
.page-call-frame .view-source .view-source__source .code-point {
    font-size: 0px;
    vertical-align: top;
    padding: 4px;
    border-radius: 4px;
    background-color: #c4906f;
    margin: 0 3px 0 1px;
}
.page-call-frame .view-source .view-source__source .sample-point {
    font-size: 85%;
    font-family: tahoma;
    vertical-align: top;
    border: 1px solid #adbead;
    border-radius: 5px;
    color: #c0cd46;
    background-color: black;
    margin: 0 1px;
    padding: 1px 2px;
}
.page-call-frame .view-source .view-source__source .sample-point::before {
    content: attr(data-marker);
}
