.page-call-frame .view-page-header__prelude .call-frame-loc {
    padding: 3px 6px;
    color: #aaa;
}
.page-call-frame .view-page-header__content .view-source {
    margin: 8px 0 1px;
}
.page-call-frame .view-page-header__content .view-source__content {
    padding-top: 11px;
    padding-bottom: 12px;
}
.page-call-frame .view-page-header__content .view-source__source {
    font-size: 16px;    
}
.page-call-frame .view-page-header__content .view-source.too-long .view-source__source {
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-call-frame .script-source .view-source.regexp .view-source__source {
    word-break: break-word;
    white-space: normal;
}
.page-call-frame .view-source .view-source__source .inline {
    font-size: 75%;
    font-family: tahoma;
    vertical-align: top;
    border: 1px solid #adbead;
    border-radius: 5px;
    color: #a2c7a2;
    background-color: black;
    margin: 0 1px;
    padding: 1px 2px;
}
.page-call-frame .view-source .view-source__source .inline::before {
    content: 'inl';
}
.page-call-frame .view-source .view-source__source .code-point {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    margin: -2px 3px 0 1px;
    font-size: 0px;
    border-radius: 4px;
    background-color: #c4906f;
}
.page-call-frame .view-source .view-source__source .sample-point {
    font-size: 85%;
    font-family: tahoma;
    margin: 0 1px 0 0;
    padding: 2px 4px 3px 1px;
    line-height: 1;
    border: 1px solid #adbead;
    border-radius: 4px;
    color: #c0cd46;
    background-color: #2b2b2b;
    background-clip: padding-box;
}
.page-call-frame .view-source .view-source__source .sample-point.self {
    color: #6eae6e;
    border: 1px solid #355d35;
}
.page-call-frame .view-source .view-source__source .sample-point.self::before {
    opacity: .5;
    content: 'S';
    font-size: 9px;
    padding: 0 3px;
}
.page-call-frame .view-source .view-source__source .sample-point.nested {
    color: #aead6e;
    border: 1px solid #6e672d;
}
.page-call-frame .view-source .view-source__source .sample-point.nested::before {
    opacity: .5;
    content: 'N';
    font-size: 9px;
    padding: 0 3px;
}
.page-call-frame .view-source .view-source__source .sample-point::after {
    content: attr(data-marker);
}
