.view-alert-warning .view-link {
    color: inherit;
    text-decoration-color: inherit;
}

.view-page-indicators,
:not(.view-page-indicators) > .view-page-indicator-group {
    margin-bottom: 1px;
}

.page .view-page-header :is(.view-h1, .view-h2) {
    font-family: Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
    font-weight: 200;
}
.page .view-page-header__prelude .view-badge + .view-badge:not(:last-child) {
    margin-right: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.page .view-page-header__prelude .view-badge:not(:first-child) + .view-badge {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page .view-page-header__prelude .type-badge {
    /* --discovery-view-badge-color: #ffdc7959;
    --discovery-view-badge-dark-color: #ffdc7959; */
    min-width: 8ex;
    text-align: center;
}
.page .view-page-header__prelude .category-badge {
    background-clip: padding-box;
    background-color: color-mix(in srgb, var(--discovery-view-badge-color, rgba(128, 128, 128, .25)) 35%, transparent);
    border: solid color-mix(in srgb, var(--discovery-view-badge-color, rgba(128, 128, 128, .25)) 60%, transparent);
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hint-tooltip {
    max-width: 400px !important;
}
.hint-tooltip .view-markdown {
    padding: 10px 8px;
}
.hint-tooltip .view-markdown .view-header:first-child {
    margin: 0;
    margin-top: -.2em;
}
.hint-tooltip .view-markdown :is(p, blockquote, ul) {
    margin-top: .5em;
}

.view-badge {
    --discovery-view-badge-color: #bababa33;
    --discovery-view-badge-dark-color: #383838;
}
.discovery-root-darkmode .view-badge {
    box-shadow: 0 0 0 .5px rgba(0, 0, 0, .12);
}
.view-table-cell > .view-badge,
.view-table-cell > .view-badge .prefix,
.view-table-cell > .view-badge .postfix {
    padding-top: 2px;
}
.view-badge > .prefix {
    color: #777;
}
.discovery-root-darkmode .view-badge > .prefix {
    color: #a4a4a4;
}

.discovery-nav {
    position: fixed;
}
.discovery-nav > .github::before {
    --size: 15px;
    content: "";
    display: inline-block;
    vertical-align: text-top;
    height: var(--size);
    aspect-ratio: 1/1;
    margin-right: 5px;
    margin-left: -3px;
    background: url("../img/github.svg") no-repeat center;
    background-size: calc(var(--size) - 0px);
    opacity: .85;
}
.discovery-root-darkmode .discovery-nav > .github::before {
    background-image: url("../img/github-white.svg");
}

.discovery-nav > .full-page-mode {
    background-color: rgba(78, 187, 255, .3);
    border-radius: 0;
    clip-path: rect(1px calc(100% - 1px) auto auto);
    margin-right: calc(-1 * var(--discovery-page-padding-right));
}
.discovery-nav > .full-page-mode:hover {
    background-color: rgba(78, 187, 255, .2);
}

.logo {
    --color1: #242424;
    --color2: white;
    display: inline-flex;
    border: 1px solid var(--color1, black);
    line-height: 1;
    border-radius: 3px;
    box-shadow: 0 0 0 .5px rgba(255, 255, 255, .5);
    flex-direction: column;
    aspect-ratio: 1/1;
    vertical-align: middle;
}
.discovery-root-darkmode .logo {
    filter: brightness(0.9);
}
.view-page-header__content > .logo {
    float: left;
    margin-right: 1.5ex;
    margin-top: 5px;
    font-family: Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
}
h2 .logo {
    font-size: 47%;
    margin-right: 8px;
    position: relative;
    vertical-align: bottom;
}
.logo::before {
    content: 'CPU';
    background-color: var(--color1, black);
    color: var(--color2, white);
    padding: .3em .5em;
}
.logo::after {
    content: 'PRO';
    background-color: var(--color2, white);
    color: var(--color1, black);
    padding: .3em .5em;
    border-radius: 0 0 2px 2px;
}

.page > .view-expand.trigger-outside > .header {
    --discovery-view-expand-trigger-size: calc(var(--discovery-page-padding-left) - 2px);
    margin-right: calc(-1 * var(--discovery-page-padding-right) + 1px);
}

.table-content-filter > .view-input {
    margin: 1px 0;
}

.view-table-cell > .view-timeline-segments-bin {
    margin: -1px -6px -2px;
    width: 250px;
}

.view-time-ruler-tooltip .timeline-segment-info {
    padding-bottom: 4px;
    border-bottom: 1px solid #0004;
    margin-bottom: 4px;
    opacity: .8;
}
.view-time-ruler-tooltip .timeline-segment-info .view-duration {
    display: inline-flex;
}
.view-time-ruler-tooltip .category-timings-list {
    display: grid;
    grid-template-columns: 80px 100px;
    gap: 2px 1ex;
}
.view-time-ruler-tooltip .category-timings-list .view-list-item {
    display: contents;
}
.view-time-ruler-tooltip .category-timings-list .category-name::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: .75em;
    aspect-ratio: 1/1;
    margin-right: 1ex;
    margin-top: -1px;
    border-radius: 50%;
    background-color: var(--color, #888);
}
.view-time-ruler-tooltip .category-timings-list .no-time {
    color: #666;
    --color: #8884 !important;
}
.view-time-ruler-tooltip .category-timings-list .no-time .view-duration {
    opacity: 0;
}

/* Call tree */
.page .call-tree .view-tree-leaf-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1px;
    padding-bottom: 1px;
}
.page .call-tree .view-tree-leaf-content > * {
    line-height: 20px;
    height: 22px;
}
.page .call-tree .view-tree-leaf-content .view-badge,
.page .call-tree .view-tree-leaf-content .view-pill-badge {
    --badge-padding-left: 25px;
    --badge-icon-top-bottom: 4px;
    --badge-icon-left: 5px;
    height: 18px;
    margin-right: 0px;
    margin-left: 3px;
}
.page .call-tree .view-tree-leaf-content .view-badge.module {
    margin-right: 0 !important;
}
.page .call-tree .view-tree-leaf-content .function-loc {
    padding: 1px 5px 3px 2px;
    color: #aaa;
}
.page .call-tree .view-tree-leaf-content .view-link {
    margin-right: 4px;
}
.page .call-tree .self {
    display: inline;
    background-color: #f5e69a;
    padding: 0 6px;
    margin-left: -3px;
    margin-right: 4px;
    border-radius: 3px;
}
.discovery-root-darkmode .page .call-tree .self {
    background-color: #68624685;
    color: #b6aa6a;
}

.page .call-tree .grouped {
    display: inline-block;
    font-size: 10px;
    padding-right: 4px;
    color: #888;
}

.script-source > .content > .view-source {
    margin-top: 1px;
    max-height: calc(100vh - 118px);
}
.script-source .view-source__prelude:empty {
    display: none;
}
.script-source .view-source__prelude {
    padding: 2px 7px 4px;
    border-bottom: 1px solid var(--discovery-background-color);
    color: #aaa;
}
.script-source .view-source__prelude .function-path::before {
    content: 'Top level';
}
.script-source .view-source__prelude .function-path .view-list-item::before {
    content: '›';
    color: #888;
    padding: 0 .6ex;
}
.script-source .view-source__prelude .function-path .view-list-item .target {
    display: inline;
    padding: 1px 5px 3px;
    border-radius: 3px;
    background-color: #68624685;
    color: #b6aa6a;
}
.script-source .view-source .spotlight {
    background-color: #46453c;
}
.script-source .view-source .spotlight .spotlight {
    background-color: #3d473b;
}
.script-source .view-source .spotlight .spotlight .spotlight {
    background-color: #414455;
}
.script-source .view-source .spotlight .spotlight .spotlight .spotlight {
    background-color: #463c4b;
}
.script-source .view-source .spotlight.function:not(:has(.spotlight.function:hover)):hover {
    background-color: #686246aa;
}
.script-source .view-source .spotlight.function {
    padding-left: 0;
    padding-right: 4px;
    margin-left: 2px;
    border-radius: 9px;
}
.script-source .view-source .spotlight.function::before {
    content: attr(data-marker);
    display: inline;
    border: 1px solid currentColor;
    padding: 2px 2.5px 3px 2.5px;
    margin-right: 1px;
    font-size: 9px;
    border-radius: 9px;
    vertical-align: top;
    background: var(--discovery-background-color);
    color: #f0f173;
    opacity: .8;
}
.script-source .view-source .spotlight.function:not(:has(.spotlight.function:hover)):hover::before {
    opacity: 1;
}
