.page-default > .view-expand > .header {
    --discovery-view-expand-trigger-size: calc(var(--discovery-page-padding-left) - 2px);
    margin-right: calc(-1 * var(--discovery-page-padding-right));
}

.page-default .flamecharts > .content {
    margin-bottom: calc(-1 * var(--discovery-page-padding-bottom));
    margin-right: calc(1px - var(--discovery-page-padding-right));
    margin-left: calc(1px - var(--discovery-page-padding-left));
}
.page-default .flamecharts .view-flamechart {
    padding: 0;
    margin: 0;
}
.page-default .view-flamechart__content {
    --height: calc(100vh
        - 64px /* page header */
        - 9px
    );
    min-height: var(--height);
    max-height: var(--height);
    height: var(--height);
}

.flamecharts {
    margin-top: 8px;
}
.flamecharts-fullpage {
    --discovery-page-padding-right: 0px;
}
.flamecharts-fullpage .page {
    visibility: hidden;
}
.flamecharts-fullpage .flamecharts {
    height: 100vh;
}
.flamecharts-fullpage .flamecharts > .content {
    visibility: visible;
    position: fixed;
    margin: 0;
    top: 0px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
}
.flamecharts-fullpage .view-flamechart {
    flex: 1;
    height: auto;
}
.flamecharts-fullpage .view-flamechart__content {
    max-height: none;
    min-height: 100%;
}

.flamecharts .toolbar {
    display: flex;
    gap: 0px 8px;
    margin: 1px 0;
}
.flamecharts-fullpage .flamecharts .toolbar {
    gap: 0px 4px;
    flex-wrap: wrap;
    padding-right: calc(var(--discovery-nav-width) + var(--discovery-page-padding-right) + 16px);
}
.flamecharts-fullpage .flamechart-fullpage-toggle {
    display: none;
    align-self: start;
    cursor: pointer;
}
.page-default .flamechart-fullpage-toggle:hover {
    background-color: rgba(78, 187, 255, .2)
}

.flamecharts-fullpage .flamecharts .toolbar .view-toggle-group {
    min-height: calc(var(--discovery-nav-height) - 1px);
}
.flamecharts .toolbar .filters {
    flex: 1;
}
.flamecharts-fullpage .flamecharts .toolbar .filters {
    white-space: nowrap;
    padding: 2px 6px;
}
.flamecharts .toolbar .filters .discovery-view-has-tooltip > .view-checkbox__label {
    padding-right: 18px;
    margin-right: 12px;
    background-image: url('../img/hint.svg');
    background-position: right center;
    background-size: 14px;
    background-repeat: no-repeat;
}
.flamecharts .view-toggle {
    font-size: 11px;
    border-radius: 0;
}
.flamecharts-fullpage .flamecharts .view-toggle {
    align-self: stretch;
    padding-top: 5px;
}

.flamecharts .view-checkbox {
    --discovery-checkbox-size: 13px;
    white-space: nowrap;
}
.flamecharts .view-checkbox__label {
    font-size: 12px;
}

.page-default .indicators {
    margin-bottom: 4px;
}
.page-default .indicators .runtime:is(.nodejs, .chromium, .electron, .unknown) .value::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    height: 1em;
    aspect-ratio: 1/1;
    background: center no-repeat;
    background-size: 100%;
    margin-right: .5ex;
    margin-bottom: -.125em;
}
.discovery-root-darkmode .page-default .indicators .runtime .value::before {
    filter: brightness(.85);
}
.page-default .indicators .runtime:is(.nodejs) .value::before {
    background-image: url("../img/runtime-nodejs.png");
}
.page-default .indicators .runtime:is(.chromium) .value::before {
    background-image: url("../img/runtime-chromium.svg");
}
.page-default .indicators .runtime:is(.electron) .value::before {
    background-image: url("../img/runtime-electron.svg");
}
.page-default .indicators .runtime:is(.unknown) .value::before {
    background-image: url("../img/runtime-v8.svg");
}
.discovery-root-darkmode .page-default .indicators .runtime:is(.unknown) .value::before {
    background-image: url("../img/runtime-v8-outline.svg");
}

.page-default .view-expand.timelines > .header > .header-content {
    background: var(--discovery-background-color);
    padding: 0;
    margin-left: 1px;
}
.page-default .view-expand.timelines > .header .view-timing-bar-segment {
    border-left-width: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    /* pointer-events: auto; */
}
.page-default .view-expand.timelines > .content {
    padding: 2px 0 0;
    margin-left: calc(8px - var(--discovery-page-padding-left));
    margin-right: calc(-1px - var(--discovery-page-padding-right));
}
.page-default .area-timelines {
    position: relative;
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 15px 0 0;
}
.page-default .area-timelines .view-time-ruler {
    grid-column: 3 / 4;
    box-sizing: border-box;
}
.page-default .area-timelines-list,
.page-default .area-timelines-list > .view-list-item {
    display: contents;
}
.page-default .area-timelines-item {
    color: inherit;
    display: contents;
}
.page-default .area-timelines-item .view-timeline-segments {
    margin: 0 1px;
}
.page-default .area-timelines-item:hover > * {
    background: rgba(165,165,165,.3);
}
.page-default .area-timelines-item > .label {
    font-size: 10px;
    text-align: right;
    padding: 2px 4px 0 4px;
    border-bottom: 1px solid #0004;
}
.page-default .area-timelines-item .view-duration {
    padding: 2px 4px 0 2px;
    font-size: 10px;
    border-bottom: 1px solid #0004;
}
.page-default .view-list-item:first-child .area-timelines-item > * {
    border-top: 1px solid #0004;
}

.page-default .hierarchical-components > .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 8px;
}
.page-default .hierarchical-components > .content > .view-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: clip;
    margin-bottom: 0;
}
.page-default .hierarchical-components > .content > .view-section > .view-header {
    margin: 0;
    font-size: inherit;
}
.page-default .hierarchical-components > .content > .view-section > .view-content-filter {
    display: contents;
}
.page-default .hierarchical-components > .content > .view-section > .view-content-filter > .content {
    overflow: auto;
    max-height: 418px;
}
.page-default .hierarchical-components > .content > .view-section > .view-content-filter > .content > .view-table {
    min-width: 100%;
}
.page-default .hierarchical-components > .content > .view-section > .view-content-filter > .content > .view-table th,
.page-default .hierarchical-components > .content > .view-section > .view-content-filter > .content > .view-table .view-table-cell.main {
    min-width: 100%;
}
