.flamecharts {
    margin-top: 8px;
}
.flamecharts-fullpage {
    visibility: hidden;
}
.flamecharts-fullpage .flamecharts > .content {
    visibility: visible;
    position: fixed;
    top: calc(var(--discovery-nav-height) + 5px);
    left: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
}
.flamecharts-fullpage .view-flamechart {
    flex: 1;
}
.flamecharts-fullpage .view-flamechart__content {
    min-height: 100%;
}

.flamecharts .toolbar {
    display: flex;
    gap: 6px;
    margin: 1px 0;
}
.flamecharts .toolbar .filters {
    flex: 1;
}
.flamecharts .toolbar .filters .discovery-view-has-tooltip > .view-checkbox__label {
    padding-right: 18px;
    margin-right: 12px;
    background-image: url('../img/hint.svg');
    background-position: right center;
    background-size: 14px;
    background-repeat: no-repeat;
}
.flamecharts .view-toggle {
    font-size: 11px;
    border-radius: 0;
}

.flamecharts .view-flamechart {
    padding: 0;
    margin: 0;
}
.flamecharts .view-checkbox {
    --discovery-checkbox-size: 13px;
    white-space: nowrap;
}
.flamecharts .view-checkbox__label {
    font-size: 12px;
}

.page-default .area-timeline {
    position: relative;
    display: grid;
    grid-template-columns: auto auto 1fr;
    margin-top: 8px;
    padding: 15px 0 0;
}
.page-default .area-timeline .view-time-ruler {
    grid-column: 3 / 4;
    box-sizing: border-box;
}
.page-default .area-timeline-split {
    display: contents;
}
.page-default .area-timeline-split > .view-list-item {
    display: contents;
}
.page-default .timelines {
    color: inherit;
    display: contents;
}
.page-default .timelines .view-timeline-segments {
    margin: 0 1px;
}
.page-default .timelines:hover > * {
    background: rgba(165,165,165,.3);
}
.page-default .timelines > .label {
    font-size: 10px;
    text-align: right;
    padding: 2px 4px 0 4px;
    border-bottom: 1px solid #0004;
}
.page-default .timelines .view-duration {
    padding: 2px 4px 0 2px;
    font-size: 10px;
    border-bottom: 1px solid #0004;
}
.page-default .view-list-item:first-child .timelines > * {
    border-top: 1px solid #0004;
}
.page-default .view-page-indicator.runtime {
    margin-left: 2px;
}
