.page-default .flamecharts > .content {
    margin-bottom: calc(-1 * var(--discovery-page-padding-bottom));
    margin-right: calc(1px - var(--discovery-page-padding-right));
    margin-left: calc(1px - var(--discovery-page-padding-left));
}
.page-default .flamecharts .view-flamechart {
    padding: 0;
    margin: 0;
}
.page-default .flamecharts .view-flamechart {
    --height: calc(100vh
        - 64px /* page header */
        - 9px
    );
    min-height: var(--height);
    max-height: var(--height);
    height: var(--height);
}

.flamecharts {
    margin-top: 8px;
}
.flamecharts-fullpage {
    visibility: hidden;
}
.flamecharts-fullpage .flamecharts {
    height: 100vh;
}
.flamecharts-fullpage .flamecharts > .content {
    visibility: visible;
    position: fixed;
    margin: 0;
    top: 0px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
}
.flamecharts-fullpage .flamecharts .view-flamechart {
    flex: 1;
    height: auto;
    max-height: none;
}

.flamecharts .toolbar {
    display: flex;
    gap: 0px 8px;
    margin: 1px 0;
}
.flamecharts-fullpage .flamecharts .toolbar {
    gap: 0px 4px;
    flex-wrap: wrap;
    padding-right: calc(var(--discovery-nav-width) + var(--discovery-page-padding-right) + 16px);
}
.flamecharts-fullpage .flamechart-fullpage-toggle {
    display: none;
    align-self: start;
    cursor: pointer;
}
.page-default .flamechart-fullpage-toggle:hover {
    background-color: rgba(78, 187, 255, .2)
}

.flamecharts-fullpage .flamecharts .toolbar .view-toggle-group {
    min-height: calc(var(--discovery-nav-height) - 1px);
}
.flamecharts .toolbar .filters {
    flex: 1;
}
.flamecharts-fullpage .flamecharts .toolbar .filters {
    white-space: nowrap;
    padding: 2px 6px;
}
.flamecharts .toolbar .filters .discovery-view-has-tooltip > .view-checkbox__label {
    padding-right: 18px;
    margin-right: 12px;
    background-image: url('../img/hint.svg');
    background-position: right center;
    background-size: 14px;
    background-repeat: no-repeat;
}
.flamecharts .view-toggle {
    font-size: 11px;
    border-radius: 0;
}
.flamecharts-fullpage .flamecharts .view-toggle {
    align-self: stretch;
    padding-top: 5px;
}

.flamecharts .view-checkbox {
    --discovery-checkbox-size: 13px;
    white-space: nowrap;
}
.flamecharts .view-checkbox__label {
    font-size: 12px;
}

.page-default .view-page-indicators {
    margin-bottom: 3px;
    margin-left: calc(-1 * var(--discovery-page-padding-left));
    margin-right: calc(-1 * var(--discovery-page-padding-right));
    padding-left: var(--discovery-page-padding-left);
    overflow: hidden;
    overflow-x: auto;
}
.page-default .view-page-indicators .view-page-indicator-group.filters .view-page-indicator {
    background-color: #2c3a4a;
}
.page-default .view-page-indicators .view-page-indicator-group.filters .page-indicator-group-tag {
    width: 18px;
    position: relative;
    background-color: #374c64;
}
.page-default .view-page-indicators .view-page-indicator-group.filters .page-indicator-group-tag::before {
    content: 'Filtered';
    position: absolute;
    width: 66px;
    right: 0;
    bottom: 100%;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 2px;
}
.page-default .view-page-indicators .runtime .value {
    text-align: left;
}
.page-default .view-page-indicators .runtime:is(.nodejs, .deno, .chromium, .edge, .electron, .unknown) .value::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    height: 1em;
    aspect-ratio: 1/1;
    background: center no-repeat;
    background-size: 100%;
    margin-right: .5ex;
    margin-bottom: -.125em;
}
.discovery-root-darkmode .page-default .view-page-indicators .runtime .value::before {
    filter: brightness(.85);
}
.page-default .view-page-indicators .runtime:is(.nodejs) .value::before {
    background-image: var(--runtime-nodejs);
}
.page-default .view-page-indicators .runtime:is(.deno) .value::before {
    background-image: var(--runtime-deno);
}
.page-default .view-page-indicators .runtime:is(.edge) .value::before {
    background-image: var(--runtime-edge);
    filter: none;
}
.page-default .view-page-indicators .runtime:is(.chromium) .value::before {
    background-image: var(--runtime-chromium);
}
.page-default .view-page-indicators .runtime:is(.electron) .value::before {
    background-image: var(--runtime-electron);
}
.page-default .view-page-indicators .runtime:is(.unknown) .value::before {
    background-image: var(--runtime-unknown);
}

.page-default .view-expand > .header .expand-label {
    display: inline-block;
    min-width: 120px;
    padding-right: 8px;
}
.page-default .view-expand.expanded > .header .labeled-value-groups {
    /* display: none; */
    opacity: 0;
}
.page-default .view-expand > .header .labeled-value-groups {
    display: inline-flex;
    transition: opacity .25s ease-out;
}
.page-default .view-expand > .header .labeled-value-group {
    display: inline-flex;
    gap: 1em;
    border-left: 1px solid var(--discovery-background-color);
    padding: 2px 18px 2px 6px;
    margin: -2px 0;
}
.page-default .view-expand.timelines > .header > .header-content {
    background: var(--discovery-background-color);
    padding: 0;
    margin-left: 1px;
}
.page-default .view-expand.timelines > .header:hover > .header-content {
    filter: brightness(1.1);
}
.page-default .view-expand.timelines > .header .view-fractions-bar {
    pointer-events: auto;
}
.page-default .view-expand.timelines > .header .view-fractions-bar-segment {
    border-left-width: 0;
    padding-top: 3px;
    padding-bottom: 5px;
    pointer-events: none;
}
.page-default .view-expand.timelines > .content {
    padding: 2px 0 0;
    margin-left: calc(-1 * var(--discovery-page-padding-left));
    margin-right: calc(-1 * var(--discovery-page-padding-right));
}

.page-default .category-timelines {
    position: relative;
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 15px 0 0;
    user-select: none;
}

.page-default .category-timelines > .view-time-ruler {
    grid-column: 3 / 4;
    box-sizing: border-box;
    margin: 0 1px;
    --overlay-offset-top: -1px;
    --overlay-offset-bottom: -3px;
}
.page-default .category-timelines > .view-time-ruler .interval-marker:first-child {
    margin-left: -1px;
}

.page-default .category-timelines > .view-expand {
    display: contents;
}
.page-default .category-timelines > .view-expand > .header {
    grid-column: 1/4;
    position: relative;
    z-index: 1;
    margin-top: 1px;
}
.page-default .category-timelines > .view-expand > .header > .header-content {
    display: flex;
}
.page-default .category-timelines > .view-expand > .content {
    display: contents;
}
.page-default .category-timelines > .view-expand > .content > .category-timelines-item:first-child > * {
    margin-top: 1px;
}
.page-default .category-timelines .data-unavailable {
    grid-column: 1 / 4;
    pointer-events: all;
    padding: 4px 8px;
    margin-left: 22px;
    font-size: 12px;
    opacity: .85;
}

.page-default .category-timelines-list,
.page-default .category-timelines-list > .view-list-item {
    display: contents;
}
.page-default .category-timelines-list .more-buttons {
    grid-column: 1 / 4;
    padding: 3px 5px
}
.page-default .category-timelines-item {
    color: inherit;
    display: contents;
}
.page-default .category-timelines-item .view-timeline-segments {
    margin: 0 1px;
}
.page-default .category-timelines-item:has(+ .category-timelines-list) > * {
    margin-bottom: -1px;
}
.page-default .category-timelines-item[href]:hover > * {
    background-color: rgba(165,165,165,.3);
    background-clip: padding-box;
}
.page-default .category-timelines-item > .label {
    font-size: 12px;
    text-align: right;
    padding: 0px 4px 0 12px;
    border-bottom: 1px solid #0004;
    min-width: 90px;
}
.page-default .category-timelines-item > .label::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: .75em;
    aspect-ratio: 1/1;
    margin-left: 8px;
    margin-right: -6px;
    margin-top: -1px;
    background: var(--color, #888);
    border-radius: 50%;
}
.page-default .category-timelines-item > .total-percent,
.page-default .category-timelines-item > .total-size,
.page-default .category-timelines-item > .total-value {
    min-width: 40px;
    text-align: right;
    font-size: 11px;
    padding: 1px 4px 0 8px;
    border-bottom: 1px solid #0004;
    color: #888;
}
.page-default .category-timelines-item > .total-value {
    padding-left: 4px;
}
.page-default .category-timelines-item > .total-value .view-text-with-unit {
    display: block;
}
.page-default .category-timelines-item > .total-percent:not(:empty)::after {
    content: '%';
    font-size: 8px;
    opacity: .5;
    padding-left: 1px;
}
.page-default .view-list-item:first-child .category-timelines-item > * {
    border-top: 1px solid #0004;
}

.page-default .hierarchical-components > .header > .header-content {
    display: flex;
    flex-direction: row;
    padding: 0 2px 0 0;
}
.page-default .hierarchical-components > .header > .header-content > .view-block:first-child {
    max-width: calc((100% - 2px) / 3 - 24px);
    box-sizing: border-box;
    border: none;
}
.page-default .hierarchical-components > .header > .header-content > .view-block {
    flex: 1;
    position: relative;
    padding: 2px 8px;
    border-left: 1px solid var(--discovery-background-color);
}
.page-default .hierarchical-components > .header > .header-content .view-text-numeric {
    display: inline-block;
    padding-left: .65ex;
    color: #9ea867;
}
.page-default .hierarchical-components > .header > .header-content .total-number {
    color: #888;
}
.page-default .hierarchical-components > .header:has(.view-badge[href]:hover) {
    background: rgba(192, 192, 192, 0.175);
}
.page-default .hierarchical-components > .header > .header-content .view-badge[href] {
    pointer-events: all;
    position: absolute;
    margin: 0;
    inset: 2px 2.5px 2px auto;
    box-shadow: 0 0 0 .65px rgba(0, 0, 0, .4) inset;
    line-height: 16px;
    font-size: 100%;
}
.page-default .hierarchical-components > .header > .header-content .view-badge[href]:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}
.page-default .hierarchical-components > .header > .header-content .view-badge[href]::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    aspect-ratio: 1/1;
    background-color: currentColor;
    mask-image: url('../img/table.svg');
    mask-repeat: no-repeat;
    mask-size: 10px;
    mask-position: center;
    margin-right: 3px;
    margin-left: -3px;
    margin-top: -1px;
    opacity: .65;
}

.page-default .hierarchical-components > .content {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
    margin-left: calc(4px - var(--discovery-page-padding-left));
    margin-right: calc(4px - var(--discovery-page-padding-right));
}
.page-default .hierarchical-components > .content .view-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 0;
}
.page-default .hierarchical-components > .content .view-section > .view-header {
    display: none;
}
.page-default .hierarchical-components > .content .view-section > .view-content-filter {
    display: contents;
}
.page-default .hierarchical-components > .content .view-section > .view-content-filter > .view-input {
    margin: 3px 0 2px;
}
.page-default .hierarchical-components > .content .view-section > .view-content-filter > .view-input input {
    padding: 4px 6px;
    border-radius: 0;
    box-shadow: none !important;
}
.page-default .hierarchical-components > .content .view-section > .view-content-filter > .content {
    overflow: auto;
    max-height: 421px;
}
.page-default .hierarchical-components > .content .view-section .view-table {
    min-width: 100%;
}
.page-default .hierarchical-components > .content .view-section .view-table th {
    white-space: nowrap;
}
.page-default .hierarchical-components > .content .view-section .view-table th:last-child,
.page-default .hierarchical-components > .content .view-section .view-table .view-table-cell.main {
    width: 100%;
}
.page-default .hierarchical-components > .content .view-section .view-table .view-duration .time {
    min-width: calc(var(--total-time-digits) * 1ex + 3.5ex);
}

.page-default .welcome-page .view-markdown .view-ul {
    margin-top: 2px;
}
.page-default .welcome-page .upload-data {
    margin: -8px 0 15px -13px;
    background-color: #00000014;
    border: 1px dashed #555;
    padding: 12px;
    border-radius: 7px;
    max-width: 600px;
}
.page-default .welcome-page .supported-formats-tips {
    max-width: 300px;
    margin-left: 25px;
    font-size: 13px;
    color: #aaa;
}
.page-default .welcome-page .supported-formats-tips blockquote {
    margin-top: 22px;
    padding: .3em 0 .3em .8em;
    border-left-width: 2px;
}
.page-default .welcome-page .supported-formats-tips ul {
    margin-left: -3px;
}
.page-default .welcome-page .supported-formats-tips li {
    padding-left: 2px;
}
.page-default .welcome-page .upload-notes {
    font-size: 82%;
    color: #aaa;
    padding: 10px 0 0 3px;
}
.page-default .welcome-page .examples {
    margin-top: 15px;
}
.page-default .welcome-page .examples .view-button {
    margin-top: .35em;
    margin-left: 0;
    margin-right: .8ex;
}
.page-default .welcome-page .examples .view-button::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.3em;
    aspect-ratio: 1/1;
    background: center no-repeat;
    background-size: 100%;
    margin-right: 7px;
    margin-left: -.5ex;
    margin-top: -4px;
}
.page-default .welcome-page .examples .view-button.nodejs::before {
    background-image: var(--runtime-nodejs);
}
.page-default .welcome-page .examples .view-button.deno::before {
    background-image: var(--runtime-deno);
    filter: brightness(.8);
    height: 1.4em;
    margin-top: -5px;
    margin-bottom: -2px;
}
.page-default .welcome-page .examples .view-button.chromium::before {
    background-image: var(--runtime-chromium);
    filter: brightness(.85);
}
.page-default .welcome-page .examples .view-button.edge::before {
    background-image: var(--runtime-edge);
    filter: brightness(.95);
}

.heap-delete-chunks {
    transform: translateY(-1px) scaleY(-1);
}
