.page-function .view-tree-leaf-content {
    display: flex;
    align-items: center;
    gap: 1px;
    padding-bottom: 1px;
}
.page-function .view-tree-leaf-content > * {
    line-height: 20px;
    height: 22px;
}
.page-function .view-tree-leaf-content .view-badge,
.page-function .view-tree-leaf-content .view-pill-badge {
    --badge-padding-left: 25px;
    --badge-icon-top-bottom: 4px;
    --badge-icon-left: 5px;
    height: 18px;
    margin-right: 0px;
    margin-left: 3px;
}
.page-function .view-tree-leaf-content .function-loc {
    padding: 1px 6px 3px;
}
.page-function .view-tree-leaf-content .view-link {
    margin-right: 4px;
}
.page-function .self {
    display: inline;
    background-color: #f5e69a;
    padding: 0 6px;
    margin-left: -3px;
    margin-right: 4px;
    border-radius: 3px;
}
.discovery-root-darkmode .page-function .self {
    background-color: #68624685;
    color: #b6aa6a;
}

.page-function .grouped {
    display: inline-block;
    font-size: 10px;
    padding-right: 4px;
    color: #888;
}
