.page-function .view-page-header__prelude .function-loc {
    padding: 3px 6px;
    color: #aaa;
}
.page-function .view-page-header__content .view-source {
    margin: 8px 0 1px;
}
.page-function .view-page-header__content .view-source__content {
    padding-top: 11px;
    padding-bottom: 12px;
}
.page-function .view-page-header__content .view-source__source {
    font-size: 16px;
}
