.view-duration {
    display: flex;
    text-align: right;
    align-items: baseline;
    gap: .5ex;
}
.view-tree-leaf .view-duration {
    display: inline-flex;
}

.view-duration > .time {
    flex: 1;
}

.view-duration > .fraction {
    width: 3em;
    padding: 2px 4px;
    opacity: .65;
    font-size: 10px;
}