.view-deopt-card {
    padding: 5px 0 0 6px;
    border-left: 2px solid #9f6f6f;
    color: var(--discovery-color);
    font-family: var(--discovery-font-family);
    font-size: 12px;
    line-height: 1.6;
}
.view-deopt-card + .view-deopt-card {
    margin-top: 4px;
}

.view-deopt-card > .deopt-path {
    /* margin-left: -12px; */
    margin-bottom: 1px;
    min-width: 550px;
    contain: inline-size;
}
.view-deopt-card > .deopt-path .self {
    display: inline-block;
    padding: 0px 5px 0.5px;
    margin-bottom: 1px;
    border-radius: 3px;
    background-color: #68624685;
    color: #b6aa6a;
}
.view-deopt-card > .deopt-path .view-inline-list {
    display: inline;
}
.view-deopt-card > .deopt-path .view-list-item::before {
    content: '→';
    padding: 0 .5ex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #888;
}
.view-deopt-card > .deopt-path .view-badge {
    margin: 0;
}

.view-deopt-card .view-source {
    border-radius: 3px 3px 0 0;
}
.view-deopt-card .view-source__lines {
    background: none;
}
.view-deopt-card .view-source__content {
    padding: 4px 8px;
}

.view-deopt-card .deopt-message {
    /* margin-top: 1px; */
    padding: 2px 4px;
    /* border-radius: 0 0 3px 3px; */
    /* background-color: #563333; */
    color: #c98989;
}
.view-deopt-card .deopt-message .view-badge {
    display: inline-block;
    vertical-align: top;
    margin: 0 1ex 0 -4px;
    color: inherit;
}
.view-deopt-card .deopt-message .view-badge > .prefix {
    padding: 3px 6px 5px;
}
