.view-badge.call-frame-loc {
    padding-left: 2px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 3.5px;
}
.view-badge.call-frame-loc .delim {
    color: #888;
    padding: 0 1px;
}

.view-badge.module + .view-badge.call-frame-loc {
    margin-left: 0;
    border-radius: 0 3px 3px 0;
}
.view-badge.module:has(+ .view-badge.call-frame-loc) {
    border-radius: 3px 0 0 3px;
    margin-right: 1px;
}
