.view-code-tier-badge {
    display: inline-block;
    min-width: 2.2ex;
    padding: 3px .5em;
    font-family: var(--discovery-font-family);
    font-size: 83%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    color: var(--color);
    color: hsl(from var(--color) h s l / .75);
    border: .5px solid currentColor;
    border-color: color-mix(in srgb, currentColor 65%, var(--bg-color));
    border-radius: 9px;
    background-color: light-dark(#e4e4e4, #2b2b2b);
    background-clip: padding-box;
    text-decoration-thickness: 1px;
}

.view-code-tier-badge[data-count]::after {
    content: ' × ' attr(data-count);
    display: inline-block;
    padding-left: 3px;
    padding-right: 1px;
    color: color-mix(in srgb, currentColor 50%, var(--discovery-color));
}

.view-inline-list.code-tier-list {
    display: inline-flex;
    align-items: flex-start;
    gap: .35ex;
}
