.view-duration {
    max-width: 18ex;
    height: 19.5px;
    display: inline-flex;
    text-align: right;
    align-items: baseline;
    gap: .65ex;
}
.view-tree-leaf .view-duration {
    display: inline-flex;
}

.view-duration .num-delim {
    padding-left: .12em;
}

.view-duration > .time {
    flex: 1;
}
.view-duration > .time::after {
    content: 'ms';
    color: #787878;
    font-size: 90%;
    padding-left: 1px;
}

.view-duration > .fraction {
    width: 3em;
    opacity: .65;
    font-size: 83%;
}
