@import url('./flamechart/index.css');

.view-flamechart {
    position: relative;
    margin: 4px 0;
    padding: 4px 0;
    background-color: rgba(136, 136, 136, .05);
}

.view-flamechart__content {
    min-height: 150px;
    max-height: 50vh;
    max-height: min(40vh, 300px);
    overflow: scroll;
    overflow-x: hidden;
}
.view-flamechart.disable-scrolling .view-flamechart__content {
    overflow-y: clip;
}

.view-flamechart:not(.disable-scrolling) .view-flamechart__enable-scrolling-button {
    opacity: 0;
    pointer-events: none;
}
.view-flamechart__enable-scrolling-button {
    position: absolute;
    bottom: 4px;
    z-index: 10;
    background: var(--discovery-background-color);
    left: 50%;
    transform: translate(-50%);
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 11px;
    opacity: .75;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}
.view-flamechart__enable-scrolling-button:hover {
    opacity: .95;
}

.discovery-root-darkmode .flamechart .frame:hover {
    --fill-opacity: .3;
}

.flamechart-tooltip {
    padding: 5px 10px;
    min-width: 250px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    background: rgba(255, 255, 255, .75);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.discovery-root-darkmode .flamechart-tooltip {
    background: rgba(36, 36, 36, .8);
}
.flamechart-tooltip .view-badge {
    display: inline-block;
    margin: 0 0 3px -5px;
    padding-top: 0;
    padding-bottom: 1px;
    line-height: 19px;
}
.flamechart-tooltip .view-duration {
    align-items: baseline;
}
.flamechart-tooltip .view-duration.total::before {
    content: 'Total time: ';
    white-space: pre;
    font-size: 80%;
    color: #888;
}
.flamechart-tooltip .view-duration.self::before {
    content: 'Self time: ';
    white-space: pre;
    font-size: 80%;
    color: #888;
}
.flamechart-tooltip .view-duration > .time {
    flex: 0;
}
.flamechart-tooltip .view-duration > .fraction {
    width: auto;
}

