.view-flamechart {
    --transition-duration: 250ms;
    --transition-delay: 250ms;
    --transition: var(--transition-duration) ease-in-out;
    --frame-height: 19px;

    position: relative;
    margin: 4px 0;
    padding: 4px 0;
    background-color: rgba(136, 136, 136, .05);
}

.view-flamechart__content {
    min-height: 150px;
    max-height: 50vh;
    max-height: min(40vh, 300px);
    overflow: scroll;
    overflow-x: hidden;
}

.view-flamechart__content .flamechart {
    position: relative;
    height: calc(max(var(--max-depth) + 1, 10) * var(--frame-height) + 2px);
}

.view-flamechart .frames-group {
    opacity: 1;
    transition: var(--transition);
    transition-delay: var(--transition-delay);
    transition-property: opacity;
}
.view-flamechart .first-enter .frames-group {
    --transition-duration: 125ms;
    --transition-delay: 0ms;
}
.view-flamechart .frames-group_init-enter-state {
    opacity: 0;
}

.view-flamechart .frame {
    --fill-opacity: .4;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    left: calc(100% * var(--x0));
    right: calc(100% - 100% * var(--x1) + 1px);
    top: calc(var(--depth) * var(--frame-height));
    height: calc(var(--frame-height) - 1px);
    background-color: rgba(
        var(--color, 128, 128, 128),
        var(--fill-opacity)
    );
    transition: var(--transition);
    transition-property: left, right, opacity;
}
.view-flamechart .frame:hover {
    --fill-opacity: .5;
}
.discovery-root-darkmode .view-flamechart .frame:hover {
    --fill-opacity: .3;
}
.view-flamechart .frame.fade {
    opacity: .65;
}
.view-flamechart .frame.selected {
    box-shadow: 0 0 1px 1px #ffa500bd inset;
}

.view-flamechart .frame-label {
    pointer-events: none;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    opacity: calc(max(var(--x1) - var(--x0) - 20 * var(--width-scale), 0) * 100000);
    transition: var(--transition);
    transition-property: opacity;
}

.flamechart-tooltip {
    padding: 5px 10px;
    min-width: 250px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    background: rgba(255, 255, 255, .75);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.discovery-root-darkmode .flamechart-tooltip {
    background: rgba(36, 36, 36, .8);
}
.flamechart-tooltip .view-badge {
    display: inline-block;
    margin: 0 0 3px -5px;
    padding-top: 0;
    padding-bottom: 1px;
    line-height: 19px;
}
.flamechart-tooltip .view-duration > .time {
    flex: 0;
}

