.view-labeled-value-list {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
}
.view-labeled-value-list > .view-list,
.view-labeled-value-list > .view-list > .view-list-item,
.view-labeled-value-list > .view-list > .view-list-item > .view-labeled-value {
    display: contents;
}
.view-labeled-value-list > .view-list > .view-list-item > .view-labeled-value > .labeled-value__label {
    padding-right: 2ex;
}

.view-labeled-value {
    --color: #888;
    display: inline-flex;
    gap: .65ex;
    align-items: baseline
}

.view-labeled-value > .labeled-value__label {
    display: inline-block;
}
.view-labeled-value > .labeled-value__label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: .75em;
    margin-top: -1px;
    margin-right: .35em;
    aspect-ratio: 1;
    background: var(--color, #888);
    border-radius: 50%;
    outline: .5px solid var(--discovery-background-color);
}

.view-labeled-value > .labeled-value__value {
    color: #aaa;
    font-size: 11px;
}
