.view-call-frame-source .view-source.regexp .view-source__source {
    word-break: break-word;
    white-space: normal;
}

.view-call-frame-source .view-source__prelude:empty {
    display: none;
}
.view-call-frame-source .view-source__prelude {
    padding: 2px 7px 4px;
    border-bottom: 1px solid var(--discovery-background-color);
    color: #aaa;
}
.view-call-frame-source .view-source__prelude .function-path::before {
    content: 'Top level';
}
.view-call-frame-source .view-source__prelude .function-path .view-list-item::before {
    content: '›';
    color: #888;
    padding: 0 .6ex;
}
.view-call-frame-source .view-source__prelude .function-path .view-list-item .target {
    display: inline;
    padding: 1px 5px 3px;
    border-radius: 3px;
    background-color: #68624685;
    color: #b6aa6a;
}
.view-call-frame-source .view-source__prelude .missed-data-badge {
    margin-left: 2ex;
    font-size: inherit;
    color: #ab9554;
    cursor: default;
}
.view-call-frame-source .view-source__prelude .missed-data-badge::after {
    content: '';
    display: inline-block;
    width: 13px;
    aspect-ratio: 1;
    mask: url('../img/hint.svg') no-repeat center;
    mask-size: cover;
    background-color: #ceac48;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 4px;
    margin-right: -2px;
}
.view-call-frame-source .view-source__prelude .missed-data-badge:hover {
    background-color: #514d3e8f;
    box-shadow: 0 0 0 .5px rgb(171, 149, 84, 50%);
}

.view-source.cpupro-source.unavailable .view-source__source {
    color: #666;
}
.view-source.cpupro-source.unavailable .view-source__lines span {
    visibility: hidden;
}
.view-table-cell > .view-location-source .view-source {
    margin: -2px -8px;
    border-radius: 0;
    background-color: #2d2d2d;
}
.view-table-cell > .view-location-source .view-source__content {
    padding: 2px 8px 3px;
}
.view-location-source .view-source__lines {
    min-width: 6ex;
}

.view-source.cpupro-source .view-source__source .mark {
    transition: .5s ease-out;
    transition-property: opacity, max-width, margin, padding;
    box-sizing: border-box;
    cursor: default;
}
.view-source.cpupro-source .view-source__source .mark:has(.empty-content) {
    opacity: 0;
    max-width: 0;
    margin-inline: 0;
    padding-inline: 0;
}

.view-source.cpupro-source .spotlight {
    border: .5px solid #353535;
    background-color: #46453c;
    transition: .15s .15s ease-out;
    transition-property: background-color, color;
}
.view-source.cpupro-source .spotlight .spotlight {
    background-color: inherit;
    transition: none;
}
.view-source.cpupro-source .spotlight.function:not(:has(.spotlight.function:hover)):hover {
    background-color: #686246aa;
    transition: none;
}
.view-source.cpupro-source .spotlight.function {
    padding-left: 0;
    padding-right: 4px;
    margin-left: 2px;
    border-radius: 9px;
    text-decoration: none;
}
.view-source.cpupro-source .spotlight.function:is(:not(:hover), :has(.spotlight.function:hover)) {
    color: #aa9;
}
.view-source.cpupro-source .spotlight.function[data-marker] {
    cursor: pointer;
}
.view-source.cpupro-source .function-tag {
    border-radius: 9px;
    padding-left: 4.5px;
    padding-right: 4px;
    font-family: var(--discovery-monospace-font-family);
}

.view-source.cpupro-source .view-source__lines span.selected {
    position: relative;
    color: #a1a126;
}
.view-source.cpupro-source .view-source__lines span.selected::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    background-color: #2d2e1c;
    inset: 0;
    left: -40px;
    right: -100vw;
    outline: .5px solid #6a6a24;
    margin-bottom: -1px;
}

.view-call-frame-source__tooltip {
    padding: 0 1px 1px;
}
.view-call-frame-source__tooltip .view-badge:not(.call-frame-kind) {
    display: inline;
    padding-bottom: 3px;
}

.view-call-frame-source__deopt_tooltip {
    padding: 8px;
    /* padding-left: 20px; */
    color: var(--discovery-color);
    font-family: var(--discovery-font-family);
    font-size: 12px;
    line-height: 1.6;
}
.view-call-frame-source__deopt_tooltip .deopt-path {
    /* margin-left: -12px; */
    margin-bottom: 1px;
    min-width: 550px;
    contain: inline-size;
}
.view-call-frame-source__deopt_tooltip .deopt-path .self {
    display: inline-block;
    padding: 0px 5px 0.5px;
    margin-bottom: 1px;
    border-radius: 3px;
    background-color: #68624685;
    color: #b6aa6a;
}
.view-call-frame-source__deopt_tooltip .deopt-path .view-list-item::before {
    content: '→';
    padding: 0 .5ex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #888;
}
.view-call-frame-source__deopt_tooltip .deopt-path .view-badge {
    margin: 0;
}
.view-call-frame-source__deopt_tooltip > .view-list > .view-list-item {
    border-left: 2px solid #9f6f6f;
    padding: 5px 0 0 6px;
}
.view-call-frame-source__deopt_tooltip > .view-list > .view-list-item + .view-list-item {
    margin-top: 4px;
}
.view-call-frame-source__deopt_tooltip .view-source {
    border-radius: 3px 3px 0 0;
}
.view-call-frame-source__deopt_tooltip .view-source__lines {
    background: none;
}
.view-call-frame-source__deopt_tooltip .view-source__content {
    padding: 4px 8px;
}
.view-call-frame-source__deopt_tooltip .deopt-message {
    /* margin-top: 1px; */
    padding: 2px 4px;
    /* border-radius: 0 0 3px 3px; */
    /* background-color: #563333; */
    color: #c98989;
}
.view-call-frame-source__deopt_tooltip .deopt-message .view-badge {
    display: inline-block;
    vertical-align: top;
    margin: 0 1ex 0 -4px;
    color: inherit;
}
.view-call-frame-source__deopt_tooltip .deopt-message .view-badge > .prefix {
    padding: 3px 6px 5px;
}
