.subject-badge {
    --badge-font-size: inherit;
    --badge-padding-left: 21px;
    --badge-icon-top-bottom: 3px;
    --badge-icon-left: 4px;

    font-size: var(--badge-font-size);
}
.view-page-header__prelude .subject-badge {
    --badge-font-size: 85%;
    --badge-padding-left: 27px;
    --badge-icon-top-bottom: 4px;
    --badge-icon-left: 5px;
}

.subject-badge:not(.subject-badge_type__internals, .subject-badge_type__regexp) .prefix {
    padding-left: var(--badge-padding-left);
    margin-left: calc(-1 * var(--badge-padding-left));
}
.subject-badge .prefix {
    background-color: #8080801f;
}

.subject-badge_type__script,
.subject-badge_type__node,
.subject-badge_type__deno,
.subject-badge_type__electron,
.subject-badge_type__npm,
.subject-badge_type__jsr,
.subject-badge_type__denoland,
.subject-badge_type__chrome-extension,
.subject-badge_type__wasm {
    padding-left: var(--badge-padding-left) !important;
    position: relative;
}
.subject-badge_type__script::before,
.subject-badge_type__node::before,
.subject-badge_type__deno::before,
.subject-badge_type__electron::before,
.subject-badge_type__npm::before,
.subject-badge_type__jsr::before,
.subject-badge_type__denoland::before,
.subject-badge_type__chrome-extension::before,
.subject-badge_type__wasm::before {
    content: '';
    position: absolute;
    top: var(--badge-icon-top-bottom);
    bottom: var(--badge-icon-top-bottom);
    left: var(--badge-icon-left);
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.subject-badge_type__script::before {
    filter: brightness(.85);
    background-image: url('../img/js.svg');
}
.subject-badge_type__node::before {
    background-image: url('../img/nodejs.png');
}
.subject-badge_type__deno::before {
    filter: brightness(.85);
    background-image: url('../img/deno.svg');
}
.subject-badge_type__electron::before {
    background-image: url('../img/electron.ico');
    filter: brightness(1.1);
}
.discovery-root-darkmode .subject-badge_type__electron::before {
    filter: brightness(1.7);
}
.subject-badge_type__npm::before {
    background-image: url('../img/npm.png');
}
.discovery-root-darkmode .subject-badge_type__npm::before {
    filter: brightness(.9) contrast(.9);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.65);
}
.subject-badge_type__jsr::before {
    filter: brightness(.9);
    background-image: url('../img/jsr.svg');
}
.subject-badge_type__denoland::before {
    background-image: url('../img/deno.svg');
}
.subject-badge_type__chrome-extension::before {
    background-image: url('../img/chrome-extension.png');
}
.subject-badge_type__wasm::before {
    background-image: url('../img/wasm.png');
}

.subject-badge.package[data-version]::after,
.subject-badge .prefix[data-version]::after {
    content: attr(data-version);
    display: inline-block;
    padding-left: 1ex;
    padding-bottom: calc(var(--badge-icon-top-bottom) - 2px);
    max-width: 10ex;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 12px;
    font-size: 10px;
    color: #999;
}
