.view-time-ruler {
    position: absolute;
    inset: 0;
    z-index: -1;
    border-right: 1px solid #6666;
}
.view-time-ruler .line {
    position: absolute;
    border-left: 1px solid #6666;
    color: #888b;
    top: 0;
    left: calc(100% * var(--offset));
    bottom: 0;
}
.view-time-ruler.top .line::before,
.view-time-ruler.bottom .line::after {
  content: attr(data-title);
  position: absolute;
  left: 3px;
  font-size: 10px;
  line-height: 10px;
}
.view-time-ruler .line::before {
  top: 2px;
}
.view-time-ruler .line::after {
  bottom: 2px;
}

.view-time-ruler.hovered::before {
  content: '';
  position: absolute;
  width: calc((100% - 2px) / var(--segments-count) - 0.1px);
  left: calc(1px + var(--segment) * (100% - 1px) / var(--segments-count));
  top: 0;
  bottom: 0;
  background: rgba(165, 165, 165, .3);
}

.view-time-ruler-tooltip {
  padding: 5px 10px;
  min-width: 200px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  background: rgba(255, 255, 255, .75);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  pointer-events: none;
}
.discovery-root-darkmode .view-time-ruler-tooltip {
  background: rgba(36, 36, 36, .8);
}
