.view-timeline-segments {
    position: relative;
    border-bottom: 1px solid #0004;
    margin: 1px 0;
}

.view-timeline-segments svg {
    display: block;
}

.view-timeline-segments path {
    fill: var(--color, #888);
}
.view-timeline-segments path.rel-path {
    opacity: .4;
}
