.view-timeline-segments {
    position: relative;
    border-bottom: 1px solid #0004;
    margin: 12px 0 0;
}

.view-timeline-segments svg {
    display: block;
    margin-bottom: -1px;
}

.view-timeline-segments path {
    fill: #79c33ec9;
    /* stroke: red;
    stroke-width: .75; */
}
