.view-timing-bar {
    display: flex;
    gap: 1px;
}

.view-timing-bar-segment {
    display: block;
    box-sizing: border-box;
    flex: 1;
    flex-basis: calc(var(--fraction) * 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-clip: padding-box;
    background-color: color-mix(in srgb, var(--color, rgba(128, 128, 128, .25)) 35%, transparent);
    border: solid var(--color, rgba(128, 128, 128, .25));
    border-width: 2px 0 0 1px;
    font-size: 11px;
    line-height: 13px;
    padding: 1px 4px 3px;
    color: var(--discovery-color);
    text-decoration: none;
}

.view-timing-bar-segment[href] {
    cursor: pointer;
}
.view-timing-bar-segment[href]:hover {
    opacity: .75;
}
