.view-timing-bar {
    display: flex;
    gap: 1px;
}

.view-timing-bar__segment {
    display: block;
    flex: 1;
    flex-basis: calc(var(--fraction) * 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: var(--color, rgba(128, 128, 128, .25));
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 11px;
    line-height: 12px;
    padding: 3px;
    color: var(--discovery-color);
    text-decoration: none;
}

.view-timing-bar__segment[href] {
    cursor: pointer;
}
.view-timing-bar__segment[href]:hover {
    opacity: .75;
}

.discovery-root-darkmode .view-timing-bar__segment {
    border-color: rgba(255, 255, 255, .1);
}