.view-value {
    display: inline-block;
    padding: 0 6px;
    /* background-color: rgba(135, 135, 135, 0.1); */
    border: 1px solid rgba(135, 135, 135, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}
.view-self-value {
    color: light-dark(#3b7b3b, #83cd83);
    border-color: rgba(84, 121, 84, .45);
}
.view-nested-value {
    color: light-dark(#8e8e31, #cbcd83);
    border-color: rgba(120, 121, 84, .45);
}
.view-total-value {
    color: light-dark(#875699, #dda3f3);
    border-color: rgba(149, 111, 166, .45);
}
.view-value::before {
    opacity: .5;
    margin-right: 6px;
    font-size: 9px;
    display: inline-block;
    vertical-align: top;
}
.view-self-value::before {
    content: 'S';
}
.view-nested-value::before {
    content: 'N';
}
.view-total-value::before {
    content: 'T';
}
.view-self-value > .value {
    color: #6eae6e;
}
.view-nested-value > .value {
    color: #aead6e;
}
.view-total-value > .value {
    color: #aa92da;
}
.view-value > .value > .num-delim {
    padding-right: 2px;
}
.view-value > .value::after {
    content: attr(data-unit);
    opacity: .4;
    margin-left: 0;
    font-size: 11px;
}
.view-value > .fraction {
    margin-left: 6px;
    opacity: .7;
    font-size: 10px;
}
